.search-input {
  width: 100%;
  flex: 1;
  margin-right: 18px;
}

.select-input {
  flex: 0;
}

form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

button.mat-icon-button {
  font-size: 10px !important;
}

.submit-btn {
  margin: 0 014px 18px;
}

@media only screen and (max-width: 450px) {
  form {
    flex-wrap: wrap;
  }

  .search-input {
    width: 100%;
    margin-right: 0;
  }

  .select-input {
    flex: 1;
    width: 100%;
  }
}
